li {
  list-style: none;
}

ul {
  padding: 0;
}

.contactItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  font-size: 18px;
}

.button:hover,
.button:focus {
  cursor: pointer;
}
