.label {
  display: flex;
  flex-direction: column;

  width: 60%;

  margin: auto;
  padding: 10px 0 10px;

  font-size: 20px;

  border-radius: 5px;
}

.input {
  width: 60%;
  height: 35px;

  margin: auto;
  padding: 3px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
